{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
        <div class="col-md-3 bg-white m-2 p-4">
            <h4 class="bg-dark text-light rounded m-2 p-4">UPCOMING EVENTS</h4>
            <hr>
            <ul class="list-group">
                <li class="list-group-item"> December 12, 2018</li>
                <p>Finals and Fraps. Come and visit us to get half priced frappicinos while you study!</p>
                <li class="list-group-item"> December 14, 2018</li>
                <p>Come out and participate in our one night only Karoke contest! We will be giving a $100 to the winner.</p>
                <li class="list-group-item"> December 15, 2018</li>
                <p>Mike Fuller live at 6 p.m.! Come out to support Amarillo's local artists and musicians.</p>
                <img src="{% static 'img/Musician1.jpg' %}">
            </ul>
        </div>
        <div class="col-md-8 bg-white m-2 p-4">
            <h4 class="bg-dark text-light rounded m-2 p-4">ABOUT US</h4>
            <hr>
            <p>In the beginning It was just an Idea, created by a small group of college students. To the local students we believed there was a
                need for more coffee places in the area. For the caffeine addicted students, such as us, there had to be a remedy. Ideally we wanted 
                offee bar that would stay open till regular bar hours (2-3a.m.). We also wanted to expand the mind of the students and improve their
                 experience at a coffee house with live music. After about a year of jokes becoming more serious, we decided after we graduated in 
                 2016. We bought a rundown, downtown bar in Amarillo, TX on 2217 Polk St.  Spending the next year restoring the building we added a 
                 stage, extended the bar, and redid the outside of the building. We did this with help and assistance from Amarillo’s downtown 
                 restoration movement. We open May 12, 2017. The Amarillo College and WTAMU students soon found a home away from home with the 
                 natural and warm feel with music and coffee. A place to study. </p>
            <h5>Contact Us</h5>
            <p>Feel free to contact us at (806) 555-5555</p>
        </div>
    </div>
{% endblock content %}