{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <div class="col-sm-2 bg-white m-2 p-4">
        <h4 class="bg-dark text-light rounded m-2 p-4">UPCOMING EVENTS</h4>
        <hr>
        <ul class="list-group">
            <li class="list-group-item"> December 12, 2018</li>
            <p>Finals and Fraps. Come and visit us to get half priced frappicinos while you study!</p>
            <li class="list-group-item"> December 14, 2018</li>
            <p>Come out and participate in our one night only Karoke contest! We will be giving a $100 to the winner.</p>
            <li class="list-group-item"> December 15, 2018</li>
            <p>Mike Fuller live at 6 p.m.! Come out to support Amarillo's local artists and musicians.</p>
            <img src="{% static 'img/Musician1.jpg' %}">
        </ul>
    </div>
    <div class="col-sm-3 bg-white m-2 p-4">
        <h4 class="bg-dark text-light rounded m-2 p-4">MENU</h4>
        <hr>
        <ul class="list-group">
            <li class="list-group-item">Cappuccino</li>
            <li class="list-group-item">Latte</li>
            <li class="list-group-item">Caffe Mocha</li>
            <li class="list-group-item">Flat White</li>
            <li class="list-group-item">Black</li>
            <li class="list-group-item">French Press</li>
            <li class="list-group-item">Iced</li>
            <li class="list-group-item">Cold Brew</li>
            <li class="list-group-item">Espresso</li>
            <li class="list-group-item">Macciato</li>
            <li class="list-group-item">Chai Latte</li>
            <li class="list-group-item">Caffe Americano</li>
            <li class="list-group-item">Mocha</li>
            <li class="list-group-item">White Chocolate Mocha</li>
            <li class="list-group-item">Frappuccino</li>
        </ul>
    </div>


    <div class="col-md-6 bg-light m-2 p-4">
        <h4 class="bg-dark text-light rounded m-2 p-4">SECRET MENU</h4>
        <hr>
        <dl class="row">
            <dt class="col-sm-4">Southern Belle</dt>
            <dd class="col-sm-8">A classic cappuccino that has a sprinkle of raw sugar to give it that extra hint of
                sweetness.</dd>
            <dt class="col-sm-4">Christmas Miracle</dt>
            <dd class="col-sm-8">A latte that tastes exactly like dark chocolate peppermints.</dd>
            <dt class="col-sm-4">Bring the Payne</dt>
            <dd class="col-sm-8">A shot of espresso with a whole milk chaser.</dd>
            <dt class="col-sm-4">Pinocchio</dt>
            <dd class="col-sm-8">A decaf shot with mocha, caramel, and white chocolate.</dd>
            <dt class="col-sm-4">Global Warming</dt>
            <dd class="col-sm-8">Hot mocha with a scoop of ice cream. </dd>
            <dt class="col-sm-4">Hollywood</dt>
            <dd class="col-sm-8">A vanilla frappuccino that has no actual coffee in it, but it looks pretty.</dd>
        </dl>
    </div>
</div>
{% endblock %}

<!--
SECRET MENU
Global Warming: Hot mocha with a scoop of ice cream. 
Hollywood: 
-->