{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
<title>Music Reviews</title>
{% endblock %}

{% block content %}
<!-- <h4 class="bg-dark text-light rounded m-2 p-4">Music Reviews</h4> -->
<div class="row">
    <div class="col-sm-2 bg-white m-2 p-4">
        <h4 class="bg-dark text-light rounded m-2 p-4">UPCOMING EVENTS</h4>
        <hr>
        <ul class="list-group">
            <li class="list-group-item"> December 12, 2018</li>
            <p>Finals and Fraps. Come and visit us to get half priced frappicinos while you study!</p>
            <li class="list-group-item"> December 14, 2018</li>
            <p>Come out and participate in our one night only Karoke contest! We will be giving a $100 to the winner.</p>
            <li class="list-group-item"> December 15, 2018</li>
            <p>Mike Fuller live at 6 p.m.! Come out to support Amarillo's local artists and musicians.</p>
            <img src="{% static 'img/Musician1.jpg' %}">
        </ul>
    </div>
    <div class="col-md-8 m-2 p-4">
        {% for mrPost in object_list %}
        <div class="post-entry m-2">
            <ul class="list-group">
                <li class="list-group-item bg-dark text-light">
                    <h4>{{ mrPost.title }}</h2>
                </li>
                <li class="list-group-item">
                    <p>{{ mrPost.body }}</p>
                </li>
            </ul>
        </div>
        {% endfor %}
        <!-- link to music review form input -->
        <a href="{% url 'new_review' %}"><button class="btn btn-dark float-right">Post a Review</button></a>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}