{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row" style="margin-top: 20px ">
        <div class="col-sm-2 bg-white m-2 p-4">
            <h4 class="bg-dark text-light rounded m-2 p-4">UPCOMING EVENTS</h4>
            <hr>
            <ul class="list-group">
                <li class="list-group-item"> December 12, 2018</li>
                <p>Finals and Fraps. Come and visit us to get half priced frappicinos while you study!</p>
                <li class="list-group-item"> December 14, 2018</li>
                <p>Come out and participate in our one night only Karoke contest! We will be giving a $100 to the winner.</p>
                <li class="list-group-item"> December 15, 2018</li>
                <p>Mike Fuller live at 6 p.m.! Come out to support Amarillo's local artists and musicians.</p>
                <img src="{% static 'img/Musician1.jpg' %}">
            </ul>
        </div>
    <div class="col-md-3">
        <div class="card" style="height: 100%">
            <div class="card-body">
                <img class="card-img-top" src="{% static 'img/Musician1.jpg' %}" alt="Card image">
                <div class="card-img-title">
                    <h4 class="card-title">Mike Fuller and the Repeat Offenders</h4>
                    <p class="card-text">Mike Fuller and the Repeat Offenders are locals from Amarillo that have a passion for music. They play beautiful covers that will make you completely forget what the original ever sounded like.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="height: 100%">
            <div class="card-body">
                <img class="card-img-top" src="{% static 'img/Musician2.jpg' %}" alt="Card image">
                <div class="card-img-title">
                    <h4 class="card-title">If I Fail</h4>
                    <p class="card-text">If I Fail is a band out of Denver, Colorado that has a newer sound. They are incredible musicians that love songwriting.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
            <div class="card" style="height: 100%">
                <div class="card-body">
                    <img class="card-img-top" src="{% static 'img/Musician3.jpg' %}" alt="Card image">
                    <div class="card-img-title">
                        <h4 class="card-title">Joseph Moher</h4>
                        <p class="card-text">Joseph Moher is a one-man band who can play a wide variety of intruments. He usually writes songs for other musicians and plays in local orchestras.</p>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}