{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row m-2">
    <div class="col-md-2"></div>
    <div class="col-md p-3 bg-dark rounded text-white ">
        <h4 class="float-right">Post a review</h4>
        <form class="p-4" action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-secondary float-right" value="post">Post</button>
        </form>

    </div>

</div>
{% endblock %}